* {
  box-sizing: border-box;
}

@media only screen and (min-width: 800px) {
  .inner {
    max-width: 800px;
  }
}

.inner {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

h1 {
  font-weight: 550;
  margin-left: 12px;
}

hr {
  background-color: black;
  height : 2px;
  margin-bottom: 0px;
}

.row0 {
  margin-top: 8px;
}

.explain {
  text-align: left;
  font-size: 19px;
}

.row1 {
  margin-top: 11px;
  height: 70px;
  font-size: 19px;
}

label{
  font-size: 19px;
  margin-right: 22px;
}

.row2 {
  font-size: 19px;
}

.cp {
  padding-right: 0px;
  padding-left: 0px;
}

.btn__close {
  margin-top: 6px;
  display:inline-block;
  border-radius: 5px;
  margin-left: 6px;
}
.btn__close:hover {
  background-color: lightgrey;
}
.btn__close:after {
  isplay: inline-block;
  content: "\00d7";
  font-size: 18px;
}


.custom-tooltip-class {
  --bs-tooltip-bg: var(--bs-primary);
}

.tooltip {
  white-space: pre-line;
}

.tooltip-content {
  white-space: pre-line;
}

.row3 {
  margin-top: 11px;
}

.con {
  overflow: auto;
  height: 300px;
  border-radius: 10px;
  border: solid 1px #3f464d;
}